@import './../main.css';

.store-front-container {
    padding: 8em 2em;
    gap: 5em;

    background-color: black;
    color: white;
}

.product-page-title {
    text-align: center;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 5em;
}

.store-card {
    position: relative;
    height: 350px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 5px;

    overflow: hidden;
}

.store-card > div {
    position: relative;
    text-align: center;

    transition: .5s;
    transform: translate(0, -80px);
    color: #fafafa;

}
.store-card > div > h2 {
    transition: .5s;
    font-size: 28px;
}
.store-card:hover > div>h2,
.store-card:active > div>h2{
    scale: 1.2;
}

.store-card > img {
    position: absolute;
    filter:blur(2px);
    transition: .5s;
}

.store-card:hover > img,
.store-card:active > img{
    filter: blur(0);
    scale: 1.2;
}

