@import '../main.css';

header {
    min-height: 800px;
}

header .info-island {
    position: absolute;
    top: 20%;
    left: 5%;
}

.swiper-island {
    position: absolute;
    top: 20%;
    left: 5%;

    max-width: 500px;
    gap: 2em;

    padding: 1.5em;
    background-color: white;
}

@media screen and (max-width: 800px) {
	.swiper-slide {
		flex-direction: column;
		justify-content: space-around !important;
	}

	header .info-island {
		padding-top: 7.5em;
	}
}