@import '../main.css';

/*
 *  PARENT
 */

.item-preview-section {
    position: relative;
    width: 100%;
    height: 80vh;
    min-height: 900px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 3em;

    background-color: #00aaff;
    z-index: 3;

    overflow: hidden;
}


/*
 *  ITEM DISPLAY
 */

.store-display-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
    
    gap: 2em;
}

/*
 *  DISPLAY CARDs
 */



.store-display-items > a {
    width: 160px;
    height: 220px;

    position: relative;

    padding:  6em;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
    overflow: hidden;
    transition: .25s;
}

.store-display-items > a > img {
    position: absolute;
    top: 0;
    left: 0;

    transition: .5s;
}

.store-display-items > a  > p {
    position:absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
    color: #747d7b;

    z-index: 1;
    transition: .25s;
}

.store-display-items  > a:hover, 
.store-display-items  > a > img:hover{
    scale: 1.1;
    opacity: 1;
}

.store-display-items > a:hover > p {
    color: #00aaff;
}

/*
 *  MAKE USABLE ON PHONES
 */
@media screen and (max-width: 1400px) {
    .item-preview-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .item-preview-section > .info-island  {
        max-width: none;
        width: 100%;
        padding: 2em 0;

        align-items: center;

        border-radius: 0;
        border: none;
    }
    .item-preview-section > .info-island  > h1 {
        text-align: center;
    }

    .item-preview-section > .info-island > p {
        width: 70%;
        min-width: 250px;
    }
    
    .item-preview-section > .info-island > a {
        scale: .9;
    }
}

/* DELETE THE LAST 2 ELEMENTS TO FREE UP CLUTTER */
@media screen and (max-width: 800px){
    .store-display-items {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "item1 item2"
            "item3 item4 ";
        gap: 1em;
    }
    
    .store-display-items > a:last-child,
    .store-display-items > a:nth-child(5) {
        display: none;
    }
}