@import './../main.css';

.checkout {
    justify-content: space-evenly;
}

.checkout-user-info {
    padding: 1em;
    width: 420px;
    border: 1px solid black;
}

.checkout-user-info > form {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.checkout-user-info > form > * {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input-parent {
    display: flex;
    justify-content: space-between;
}

.user-input >input {
    width: 100%;
}

.user-input > b {
    font-size: 12px;
}

/*
    pricing island
*/

.checkout-product-info {
    display: flex;
    flex-direction: column;
}

.product-container {
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: space-between;

    border: 1px solid black;
}

.product-container > img {
    width: 100px;
}

.product-container > span {
    display: flex;
    align-items: center;
}


/*
* INPUT ELEMENT DESIGN
*/


.custom-input {
    padding: .4em;

    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .5s;
}

.custom-input:focus {
    color: black;
    background: white;
}
