@import './main.css';

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    padding: 1em;
}

.website-footer-links > ul,
.website-external-links {
    gap: 1.5em;
}

@media screen and (max-width: 550px) {
    footer {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
}