.flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex !important;
    flex-direction: column;
}

.hidden {
    display: none !important;
}