@import './main.css';

header {
	width: 100vw;
	height: 100vh;

	background-color: white;
}

.swiper-island-element {
	position: absolute;
	top: 20%;
	left: 5%;

	gap: 2em;

	background-color: white;
	border-radius: 5px;

	padding:1.5em;
	max-width: 500px;
}

@media screen and (max-width: 800px) {
	.swiper-slide {
		flex-direction: column;
		justify-content: space-around !important;
	}

	.swiper-island-element {
		position:static;
		max-width: none;

		align-items: center;

		padding-top: 7.5em;
	}

	.swiper-island-element > p {
		width: 90%;
	}
}