@import './main.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

/*
 *  STANDARDIZES INFO ISLAND FOR EASE OF USE
 */

.info-island {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 1.5em;

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--primary-color);
    z-index: 4;
}

.info-island > p {
    font-family: "Press Start 2P", system-ui;
    color: #211f1f;
    font-size: 14px;
    word-spacing: 2px;
}

@media screen and (max-width: 800px) {
    .info-island {
        position: static !important;
        max-width: none;
        width: 100%;

        border: none;
        border-radius: 0;

        align-items: flex-start;
    }

    .info-island > h1 {
        font-size: 20px;
    }

    .info-island > p {
        font-size: 12px;
    }

}