@import "./main.css";

/*
    TODO OPTIMIZE AND MAKE GOOD TIMINGS
*/

.navbar {
    position: fixed;
    width: 100vw;

    padding: .5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--secondary-color);
    overflow: hidden;
    z-index: 9999999;
}

.user-bag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-bag  img {
    display: block !important;
    width: 60px;
    height: 60px;
}

.user-bag span {
    position: absolute;
    bottom: -2px;
    left: 4px;

    display: grid;
    place-items: center;

    width: 35px;
    height: 35px;

    font-size: 14px;

    border-radius: 50%;
    background-color: red;
}

.navbar > * {
    margin: 0 3em;
}

.navbar-logo {
    height: 3em;
}

.navbar ul {
    display: flex;
    gap: 3em;
}

.navbar > nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-button {
    position: relative;
    padding: 1em;
}

.navbar-button a {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 3;
}

.navbar-button img {
    display: none;
}

.navbar-button:hover img {
    position: absolute;
    top: -10px;
    display: inline;
    
    width: 80%;
    height: 4em;

    rotate: 30deg;
    animation: duck-button-appear 1s ease-in;
    z-index: 2;
}

.hide-navbar {
    animation: move-up 2s linear 2s 1 forwards;
}

@keyframes duck-button-appear {
    0% {
        scale: 0;
        bottom: 0;
    }
    70% {
        scale: 1;
        rotate: 3deg;
        top: -10px;
    }
    90% {
        scale: 1.3;
    }
}


/* NAVBAR HIDE ANIMATION */
.wave-parent {
    position: absolute;
    bottom: -20px;
    right: -55%;
    transform: translate(-50%, 0);
}

.waves {
    position: relative;
    width: 105vw;
    height:4vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    max-height:150px;
    animation: 1s linear wave-transformation forwards;

}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

@keyframes wave-transformation {
    from {
        transform: scaleY(1);
    } to {
        transform: scaleY(10);
    }
}

@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-200px);
    }
}