@import "./main.css";

/*
    TODO OPTIMIZE AND MAKE GOOD TIMINGS
*/

.navbar {
    position: fixed;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    background-color: #2355ff;
    z-index: 9999;
}


.navbar-logo {
    display: block;
    position:relative;
    z-index: 5;
}
.nav-quick-links {
    display: flex;
    align-items: center;
    gap: 3em;

}

/*
 * NAVBAR IMAGE SETTINGS 
 */
.navbar img {
    width: 40px;
    height: 40px;
    z-index: 5;
}


#traveling-duck {
    position: absolute;
}

/*
* NAVBAR BUTTON ELEMENT
*/

.navbar-button {
    position: relative;
}

.navbar-button > a {
    color: white;
    position: relative;
    z-index: 10;
}

.navbar-button > img {
    display: none;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-button:hover > img {
    display: block;
    position: absolute;
    
    top: -10px;
    left: 40%;
    z-index: 5;

    animation: duck-pop-up .5s linear forwards;
}

/*
 *  BAG
 */

.user-bag > a > span {
    position: absolute;
    right: -20px;
    bottom: -15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: red;
    font-size: 14px;
}


/*
*   DUCK ANIMATION
*/

@keyframes duck-pop-up {
    0% {
        transform: scale(0) rotate(-500deg);
    }
    75% {
      transform: scale(1.1) rotate(30deg);
    }
    100% {
        transform: scale(1) rotate(50deg);
    }
}

/* 
 * NAVBAR BURGER MENU 
 */

.burger-menu {
    display: block;
    width: 40px;
    height: 20px;
}

.burger-icon {
    display: none;
    position: relative;

    width: 40px;
    height: 20px;

    cursor: pointer;
    z-index: 10;
}

.burger-icon > span {
    position: absolute;
    left: 0;

    height: 4px;
    width: 100%;

    border-radius: 10px;
    background-color: white;

    transition: all .3s ease;
}

.burger-icon span:first-child {
    top: 0;
}

.burger-icon span:nth-child(2) {
    top: 10px;
}

.burger-icon span:nth-child(3) {
    top: 20px;
}
.burger-icon-active span {
    background-color: black;
}
.burger-icon-active span:nth-child(2) {
    display: none;
}
.burger-icon-active span:nth-child(3) {
    rotate: 45deg;
    top: 0;
}
.burger-icon-active span:first-child {
    rotate: -45deg;
}

.burger-menu-options {
    display: none;
    width: 100vw;
}

.burger-menu-options > ul {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

@media screen and (max-width: 900px) {
    .burger-icon {
        display: block;
    }

    .navbar-button {
        display: none;
    }
}

.burger-in-focus {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;

    z-index: 99999;
}

.hamburger-menu-button {
    
    width: calc(60px + 10em);
    height: calc(40px + 5em);

    border: 2px dashed black;
    background-color: white;
    transition: .25s;
}

.hamburger-menu-button a {
    display: flex !important;
    align-items: center;
    justify-content: center;

    display: block;
    color: black;
    width: 100%;
    height: 100%;
}
.hamburger-menu-button:last-child a {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('../../assets/store-bag-icon.svg');
}
.hamburger-menu-button:last-child a:hover {
    background-image: url('../../assets/white-store-bag-icon.png');
}

.hamburger-menu-button:hover,
.hamburger-menu-button:hover a {
    background-color: black;
    color: white;
}


/* NAVBAR HIDE ANIMATION */
.waves-container {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100vw;
    height: 76px;
    
    z-index: 4;
}