@import './main.css';

.product-conatiner {
    width: 100vw;
    height: 100vh;

    display: flex;
    gap: 2em;
}

.product-images {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                        "main main main"
                        "main main main"
                        "second third fourth";
}