@import "./main.css";

.store {
    position: relative;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #22bbff;
}

.store-waves {
    position: absolute;

    height: 200px;
    background-color: #22bbff;
}

.store-waves .waves {
    height: 40px;
}

.store-info {
    max-width: 500px;

    margin: 0 2em;
    gap: 2em;
    padding: 2.5em;
    border-radius: 5px;

    background-color: var(--primary-color);
    z-index: 2;
}

.store-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6em;

    margin: 1em;

    max-width: 800px;
    z-index: 2;
}

.store-card-container > div > p {
    position: absolute;
    top: 2.5rem;
    left: 50%;

    transform: translate(-50%, -50%);
}
.store-card-container > div {
    position: relative;
    width: 200px;
    height: 250px;

    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    color: white;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: 0.4s;

    overflow: hidden;
}
.store-card-container > div:first-child {
    background-image: url('../../assets/quackatician.jpg');
}

.store-card-container > div:nth-child(2) {
    background-image: url('../../assets/coffee-duck.jpg');
}

.store-card-container > div:nth-child(3) {
    background-image: url('../../assets/cool-duck-display.png');
}
.store-card-container > div:nth-child(4) {
    background-image: url('../../assets/quackster.jpg');
}
.store-card-container > div:nth-child(5) {
    background-image: url('../../assets/typical\ duck.webp');
}
.store-card-container > div:nth-child(6) {
    background-image: url('../../assets/duck-logo.png');
}

.store-card-container > div:hover {
    scale: 0.9;
}

@media screen and (max-width: 1450px) {
    .store-card-container > div {
        width: 150px;
        height: 200px;
    }
    .store-card-container {
        gap: 2em;
        max-width: 350px;
    }
}

@media screen and (max-width: 900px){
    .store {
        display: flex;
        flex-direction: column;
    }
    .store-card-container, .store-info {
        margin-top: 2em;
    }

    .store-card-container {
        margin: 2em;
        gap: 2em;
        width: 100vw;
        max-width: none;
    }
}